img.img-upload {
    width: 100%;
    border-radius: 5px;
}
.mt-5.size-Image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-md-12.fileUloader.col-ms-8 {
    border-radius: 5px;
    border-color: #e7e7e7;
    border-style: dashed;
}
.col-md-12.image-previws {
    
    display: flex;
    flex-direction: column;
    margin: 0px 0px 6px;
    background:#dddddd;
    border-radius: 5px;
}
.delete-image {
    display: flex;
    justify-content: end;
}
span.delete-span {
    cursor: pointer;
    background: #e63636;
    width: 25px;
    height: 25px;
    justify-content: center;
    display: flex;
    border-radius: 25px;
    position: relative;
    top: -5px;
    color: #000000;
    font-weight: 200;
    font-size: 15px;
    left: 25px;
}
button.btn.btn-primary {
    margin-bottom: 30px;
}
.col-md-12.button-save {
    display: flex;
    justify-content: center;
}
.col-md-8.col-ms-8.slider {
    background: #eaeaea;
    border-radius: 5px;
}
.title-image {
    width: 101%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

img.img-upload.default {
    border-radius: 5px;
    height: 75%;
}

.col-md-8.default.col-ms-8.slider {
    background: #eaeaea;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    height: 500px;
    align-items: center;
}